* {
  box-sizing: border-box;
}

html {
  font-family: "Comic Sans MS", sans-serif;
}

header {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 32px;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

article {
  background-color: #999999;
  position: relative;
  width: calc(33.33% - 15px); /* Leave several pixels for spacing between articles  */
  padding: 16px;
  border: 1px solid black;
}

article > header {
  position: absolute;
  right: -1px; /* In order to collapse borders of header and article itself */
  top: -1px;   /* In order to collapse borders of header and article itself */
  font-size: 1.25em;
  padding: 8px;
  border: 1px solid black;
}

.chicken__header {
  background-color: #d59898;
}

.beef__header {
  background-color: #c14543;
}

.sushi__header {
  background-color: #e5d198;
}

@media (min-width: 768px) and (max-width: 991px) {
  .chicken__article,.beef__article {
    width: calc(50.0% - 10px); /* Leave several pixels for spacing between articles  */
  }

  .sushi__article {
    width: 100%;
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .chicken__article,.beef__article,.sushi__article {
    width: 100%;
  }
  .beef__article,.sushi__article {
    margin-top: 18px;
  }
}

article > div {
  margin-top: calc(1.25em + 16px);
}